#navRow {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color:#ddd;
}

.navbar-brand {
    font-size: 32px;
}

.no-hover {
    pointer-events: none;
}


body {
    background-image: url("../images/dust_scratches.png");
    margin: 0px;
    color: #777;
}

hr {
    color: #ddd;
}

.img-thumbnail {
    width: 100%;
}

.thumbnail-text {
    height: 20%;
    position: absolute;
    top: 60%;
    width: 87%;
    font-size: 5vw;
}

#submitButton{
    background-color: #4aaaa5;
}

#submitButton:hover{
    background-color: #177772;
}


