#navRow {
    border-bottom-style: solid;
    border-width: 2px;
    border-color:#ddd;
}

.no-hover {
    pointer-events: none;
}

body {
    background-image: url("../images/dust_scratches.png");
    margin: 0px;
    color: #777;
}